/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.noteform {

    width: 550px;
    position: relative;
}

.noteslist {
    
    width: 250px;
    position:relative;
    right:20px;
    align:right;
}

.forminput input{

    width:450px;
}