// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.noteslist {
	
	position:relative;
	right:200px;
	align:right;
}